<h2>Edit field</h2>

<%= render "form.html", changeset: @changeset,
                        action: app_form_field_path(@conn, :update, @app_id, @form_id, @field) %>

<%= link "Back", to: app_form_field_path(@conn, :index, @app_id, @form_id) %>
